<%= form_for(@job_type) do |f| %>
  <% if @job_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_type.errors.count, "error") %> prohibited this job_type from being saved:</h2>

      <ul>
      <% @job_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_type_name %><br>
    <%= f.text_field :job_type_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
