<%= form_for(@customer_status) do |f| %>
  <% if @customer_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_status.errors.count, "error") %> prohibited this customer_status from being saved:</h2>

      <ul>
      <% @customer_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_status_name %><br>
    <%= f.text_field :customer_status_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
