<table class="table table-striped tablesorter">
  <thead>
  <tr>
    <th>Id</th>
    <th>Customer</th>
    <th>Sales Agent</th>
    <th>Job Source</th>
    <th>Job Type</th>
    <th>Created_at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @jobs_bid.each do |job| %>
      <tr>
        <td><%= link_to job.id, job_path(job) %></td>
        <td><%= job.customer.name_with_initial %></td>
        <td><%= if job.sales_agent; job.sales_agent.name_with_initial end %></td>
        <td><%= if job.job_source_id; job.job_source.job_source_name end %></td>
        <td><%= if job.job_type; job.job_type.job_type_name end %></td>
        <td><%=l job.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_job_path(job), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      job_path(job),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<p>Showing last 15 - <a href="#all" onclick=" tab5()">View All</a> </p>
<script>
    function tab5(){$("#tab5").load("/jobs/bids")}
</script>
