<%- model_class = Job -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

 <div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">All</a></li>
    <li><a href="#tab2" data-toggle="tab">Bathrooms</a></li>
    <li><a href="#tab3" data-toggle="tab">Kitchens</a></li>
    <li><a href="#tab4" data-toggle="tab">Leads</a></li>
    <li><a href="#tab5" data-toggle="tab">Bids</a></li>
    <li><a href="#tab6" data-toggle="tab">Jobs</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      Loading...
      <br>
    </div>
    <div class="tab-pane" id="tab2">
      Loading...
      <br>
    </div>
    <div class="tab-pane" id="tab3">
      Loading...
      <br>
    </div>
    <div class="tab-pane" id="tab4">
      Loading...
      <br>
    </div>
    <div class="tab-pane" id="tab5">
      Loading...
      <br>
    </div>
    <div class="tab-pane" id="tab6">
      Loading...
      <br>
    </div>
  </div>
</div>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_job_path,
            :class => 'btn btn-primary' %>

<script>
    $("#tab1").load("/jobs/all?limit=15", function(){

        $("#tab2").load("/jobs/bathrooms?limit=15")

        $("#tab3").load("/jobs/kitchens?limit=15")

        $("#tab4").load("/jobs/leads?limit=15")

        $("#tab5").load("/jobs/bids?limit=15")

        $("#tab6").load("/jobs/jobs?limit=15", function(){
        //to sort any table in this application
        $("table").tablesorter({debug: false})})

    })


</script>