<%- model_class = Job -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal ">
  <div id="customer_jobs" class="span4 pull-right" align="center">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default" id="panel1">
        <div class="panel-heading btn btn-block btn-info dropdown-toggle" data-toggle="collapse" data-target="#collapsecustomer_jobs" href="#">
          <h5 class="panel-title">Status History</h5>
        </div>
        <div id="collapsecustomer_jobs" class="panel-collapse collapse">
          <div class="panel-body well well-small">

            <% if @job.job_status_histories.any? do %>
                <% @job.job_status_histories.each do |status|%>
                    <p><%= status.created_at.to_s + ' - ' + status.job_status.job_status_name %></p>
                <%end%>
            <%end%>
            <%else%>
                Nothing found.
            <% end%>

          </div>
        </div>
      </div>
    </div>

  </div>


  <dt><strong><%= model_class.human_attribute_name(:job_status_id) %>:</strong></dt>
  <dd><%= if @job.job_status_id; @job.job_status_histories.last.job_status.job_status_name end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:customer) %>:</strong></dt>
  <dd><%= link_to @job.customer::name_with_initial, customer_path(@job.customer)  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sales_agent_id) %>:</strong></dt>
  <dd><%= if @job.sales_agent; link_to @job.sales_agent.sales_agent_last_name, sales_agent_path(@job.sales_agent) end%></dd>
  <dt><strong><%= model_class.human_attribute_name(:job_source_id) %>:</strong></dt>
  <dd><%= if @job.job_source; @job.job_source.job_source_name end%></dd>
  <dt><strong><%= model_class.human_attribute_name(:job_type_id) %>:</strong></dt>
  <dd><%= if @job.job_type; @job.job_type.job_type_name end %></dd>
  <dt><strong><%= model_class.human_attribute_name('internal_job_#') %>:</strong></dt>
  <dd><%= @job.internal_job_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:job_price) %>:</strong></dt>
  <dd><%= number_to_currency(@job.job_price) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:job_notes) %>:</strong></dt>
  <dd><%= @job.job_notes.humanize %></dd>
  <hr>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @job.customer_home_address.titleize %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zip) %>:</strong></dt>
  <dd><%=  @job.customer_home_zip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @job.customer_home_city.titleize %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @job.customer_home_state.titleize %></dd>


</dl>




</div>

<br>

<div class="form-actions ">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              jobs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_job_path(@job), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              job_path(@job),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
