<%= form_for @job_status_history, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :job_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :job_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :job_status_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :job_status_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :job_status_history_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :job_status_history_date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :job_status_history_notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :job_status_history_notes, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                job_status_histories_path, :class => 'btn' %>
  </div>
<% end %>
