<table id="active_customers_table" class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Primary Email</th>
          <th>Primary Phone</th>
          <th>Created_at</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @active_customers.each do |customer| %>
            <tr>
              <td><%= link_to customer.id, customer_path(customer) %></td>
              <td><%= customer.customer_first_name %></td>
              <td><%= customer.customer_last_name %></td>
              <td><%= customer.customer_primary_email %></td>
              <td><%= number_to_phone(customer.customer_primary_phone, area_code: true) %></td>
              <td><%=l customer.created_at %></td>
              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_customer_path(customer), :class => 'btn btn-mini' %>
                <%= link_to t('.inactivate', :default => t("helpers.links.inactivate")),
                            customer_path(customer),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-mini btn-danger' %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
<p>Showing last 15 - <a href="#all" onclick=" tab1()">View All</a> </p>
<script>
    function tab1(){$("#tab1").load("/customers/active")}
</script>