<%- model_class = Customer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

  <dl class="dl-horizontal">
    <div id="customer_jobs" class="span5 pull-right" align="center">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default" id="panel1">
          <div class="panel-heading btn btn-block btn-info dropdown-toggle" data-toggle="collapse" data-target="#collapsecustomer_jobs" href="#">
            <h5 class="panel-title">Jobs</h5>
          </div>
          <div id="collapsecustomer_jobs" class="panel-collapse">
            <div class="panel-body well well-small">

              <div class="panel panel-default" id="panel1">
                <div class="panel-heading btn btn-block" data-toggle="collapse" data-target="#collapseNotificationOne"
                     href="#">
                  <h5  class="panel-title"><b><i class="icon-briefcase "></i> New Job</b></h5>

                </div>
                <div id="collapseNotificationOne" class="panel-collapse collapse">
                  <div class="panel-body">

                    <br>
                    <%= render :partial => 'jobs/form' %>

                  </div>
                </div>
              </div>
              <div class="panel panel-default" id="panel2">
                <div class="panel-heading btn btn-block" data-toggle="collapse" data-target="#collapseNotificationTwo" href="#">
                  <h5 class="panel-title"><b><i class="icon-clock "></i>Job History</b></h5>
                </div>
                <div id="collapseNotificationTwo" class="panel-collapse collapse">
                  <div class="panel-body">

                    <br>
                    <% if Job.where(:customer_id => @customer.id).any? do %>

                        <% Job.where(:customer_id => @customer.id).order(:created_at).each do |job|%>
                            <p><%= link_to job.created_at, job_path(job)%></p>

                        <%end%>
                    <%end%>
                    <%else%>
                        No jobs found.
                    <% end%>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>


    <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
    <dd><%= @customer.customer_first_name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
    <dd><%= @customer.customer_last_name %></dd>
    <hr>
    <dt><strong><%= model_class.human_attribute_name(:primary_email) %>:</strong></dt>
    <dd><%= @customer.customer_primary_email %></dd>
    <dt><strong><%= model_class.human_attribute_name(:secondary_email) %>:</strong></dt>
    <dd><%= @customer.customer_secondary_email %></dd>
    <dt><strong><%= model_class.human_attribute_name(:primary_phone) %>:</strong></dt>
    <dd><%= number_to_phone(@customer.customer_primary_phone, area_code: true) %></dd>
    <dt><strong><%= model_class.human_attribute_name(:secondary_phone) %>:</strong></dt>
    <dd><%= number_to_phone(@customer.customer_secondary_phone, area_code: true) %></dd>
    <hr>
    <dt><strong><%= model_class.human_attribute_name(:customer_status_id) %>:</strong></dt>
    <dd><%= @customer.customer_status.customer_status_name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:customer_notes) %>:</strong></dt>
    <dd><%= @customer.customer_notes %></dd>
    <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
    <dd><%=l @customer.created_at %></dd>
    <dt><strong><%= model_class.human_attribute_name(:last_modification) %>:</strong></dt>
    <dd><%=l @customer.updated_at %></dd>
    <hr>
    <dt><strong><%= model_class.human_attribute_name(:home_address) %>:</strong></dt>
    <dd><%= @customer.customer_home_address %></dd>
    <dt><strong><%= model_class.human_attribute_name(:home_zip) %>:</strong></dt>
    <dd><%= @customer.customer_home_zip %></dd>
    <dt><strong><%= model_class.human_attribute_name(:home_city) %>:</strong></dt>
    <dd><%= @customer.customer_home_city %></dd>
    <dt><strong><%= model_class.human_attribute_name(:home_state) %>:</strong></dt>
    <dd><%= @customer.customer_home_state %></dd>
    <hr>
    <dt><strong><%= model_class.human_attribute_name(:billing_address) %>:</strong></dt>
    <dd><%= @customer.customer_billing_address %></dd>
    <dt><strong><%= model_class.human_attribute_name(:billing_zip) %>:</strong></dt>
    <dd><%= @customer.customer_billing_zip %></dd>
    <dt><strong><%= model_class.human_attribute_name(:billing_city) %>:</strong></dt>
    <dd><%= @customer.customer_billing_city %></dd>
    <dt><strong><%= model_class.human_attribute_name(:billing_state) %>:</strong></dt>
    <dd><%= @customer.customer_billing_state %></dd>
  </dl>



<div class="form-actions ">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              customers_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_customer_path(@customer), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              customer_path(@customer),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
