<br>
<div id="quick-menus" align="center">
  <div class="panel-group" id="accordion" style="background-color: lightgray">
    <div class="panel panel-default" id="panel1">
      <div class="panel-heading btn btn-block" data-toggle="collapse" data-target="#collapseMain"
           href="#" >
        <h5 class="">Quick Access</h5>
      </div>
      <div id="collapseMain" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="panel panel-default span3 well" id="panel1">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapseOne"
                 href="#">
              <p class="panel-title"><i class="icon-user "></i> Customers</p>
            </div>
            <div id="collapseOne" class="panel-collapse collapsed">
              <div class="panel-body">

                <a class="btn btn-large btn-block" href="<%= customers_new_lead_path%>"><i class="icon-user"></i> New Lead</a>
                <a class="btn btn-large btn-block" href="<%=new_customer_path%>"><i class="icon-user "></i> New Customer</a>
                <a class="btn btn-large btn-block" href="<%= customers_search_path%>"><i class="icon-search "></i> Find Customer</a>
                <a class="btn btn-large btn-block" href="<%=customers_path%>"><i class="icon-group "></i> Customers List</a>
                <br>
              </div>
            </div>
          </div>
          <div class="panel panel-default span3 well" id="panel2">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapseTwo"
                 href="#">
              <p class="panel-header"><i class="icon-list-alt "></i> Documents</p>
            </div>
            <div id="collapseTwo" class="panel-collapse collapsed">
              <div class="panel-body">
                <a class="btn btn-large btn-block"><i class="icon-list-alt "></i> New Report</a>
                <a class="btn btn-large btn-block"><i class="icon-search "></i> Find Report</a>
                <a class="btn btn-large btn-block"><i class="icon-file "></i> Live Reports</a>
                <br>
              </div>
            </div>
          </div>
          <div class="panel panel-default span3 well" id="panel3">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapseThree"
                 href="#">
              <p class="panel-header"><i class="icon-briefcase"></i> Jobs</p>
            </div>
            <div id="collapseThree" class="panel-collapse collapsed">
              <div class="panel-body">
                <a class="btn btn-large btn-block" href="<%= new_job_path%>"><i class="icon-list-alt "></i> New Job</a>
                <a class="btn btn-large btn-block" href="<%= jobs_search_path%>"><i class="icon-search "></i> Find Job</a>
                <a class="btn btn-large btn-block" href="<%= jobs_path%>"><i class="icon-group "></i> Jobs List</a>
                <a class="btn btn-large btn-block" href="<%= new_job_source_path%>"><i class="icon-file "></i> New Job Source</a>
                <a class="btn btn-large btn-block" href="<%= job_sources_search_path%>"><i class="icon-search "></i> Find Job Source</a>
                <a class="btn btn-large btn-block" href="<%= job_sources_path%>"><i class="icon-group "></i> Job Sources List</a>
                <br>
              </div>
            </div>
          </div>
          <div class="panel panel-default span3 well" id="panel4">
            <div class="panel-header" data-toggle="collapse" data-target="#collapseFour"
                 href="#">
              <p class="panel-title"><i class="icon-cube "></i>Other</p>
            </div>
            <div id="collapseFour" class="panel-collapse collapsed">
              <div class="panel-body">
                <a class="btn btn-large btn-block"><i class="icon-list-calendar "></i> New Event</a>
                <a class="btn btn-large btn-block"><i class="icon-search "></i> Find Event</a>
                <a class="btn btn-large btn-block" href="<%= new_sales_agent_path%>"><i class="icon-user "></i> New Sales Agent</a>
                <a class="btn btn-large btn-block" href="<%= sales_agents_path%>"><i class="icon-group "></i> Sales Agents List</a>
                <a class="btn btn-large btn-block" href="<%= sales_agents_search_path%>"><i class="icon-search "></i> Find Sales Agent</a>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div id="notifications" align="center">
<div class="panel-group" id="accordion" style="background-color: lightgray">
  <div class="panel panel-default" id="panel1">
    <div class="panel-heading btn btn-block btn-info dropdown-toggle" data-toggle="collapse" data-target="#collapseNotifications" href="#">
      <h5 class="panel-title">Notifications</h5>
    </div>
    <div id="collapseNotifications" class="panel-collapse collapse">
      <div class="panel-body ">

        <div class="panel panel-default span4 " id="panel1">
          <div class="panel-heading" data-toggle="collapse" data-target="#collapseNotificationOne"
               href="#">
            <p  class="page-header"><b><i class="icon-user "></i> Customers</b></p>

          </div>
          <div id="collapseNotificationOne" class="panel-collapse ">
            <div class="panel-body">
              <ul>
                <% Customer.where(customer_status_id: 1).each do |customer|%>
                    <%if customer.jobs.last %>
                        <%a = customer.jobs.last%>
                        <%if a.job_status_id == 1 %>
                            <%if a.created_at+7.days < Date.today && a.created_at+7.days > a.updated_at %>
                                <li><%= link_to "#{customer.name_with_initial}'s lead passed 7 days", customer%></li>
                            <% end %>
                        <% elsif a.job_status_id == 2 %>
                            <%if a.created_at+7.days < Date.today && a.created_at+7.days > a.updated_at %>
                                <li><%= link_to "#{customer.name_with_initial}'s bid passed 7 days", customer%></li>
                                <% end %><% end %><% end %><% end %>


              </ul>

            </div>
          </div>
        </div>

        <div class="panel panel-default span4 " id="panel2">
          <div class="panel-heading" data-toggle="collapse" data-target="#collapseNotificationTwo" href="#">
            <p class="page-header"><b><i class="icon-briefcase "></i> Jobs</b></p>
          </div>
          <div id="collapseNotificationTwo" class="panel-collapse ">
            <div class="panel-body">

              <ul>

              </ul>

            </div>
          </div>
        </div>

        <div class="panel panel-default span4 " id="panel3">
          <div class="panel-heading" data-toggle="collapse" data-target="#collapseNotificationThree" href="#">
            <p class="page-header"><b><i class="icon-list-alt "></i> Reports</b></p>
          </div>
          <div id="collapseNotificationThree" class="panel-collapse ">
            <div class="panel-body">

              <ul>

              </ul>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</div>
<br>

<div id="calendar" align="center">
  <div class="well sidebar-nav span4 offset4">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

    <h3>Calendar</h3>
    <div id="datepicker"></div>
  </div><!--/.well -->
</div><!--/span-->

<script>
    $("#collapseMain").collapse();
    $(document).ready(function () {
        $( "#datepicker" ).datepicker()
    });
</script>
